    
    .page1{ 
      background: url(image/8.jpg);
    }
    .page1 img{
        position:absolute;
    }
    .page1 img:nth-of-type(1){
        width:6.4rem;
        height: 7.3rem;
        position: absolute;
        left: .4rem;
        top: .4rem;
    }
     .page1 p:nth-of-type(1){
        font-size: .5rem;
        position: absolute;
        left: .4rem;
        top: 7.8rem;
        color: aqua;
      }
      .page1 p:nth-of-type(2){
        font-size: .5rem;
        position: absolute;
        left: .4rem;
        bottom: 4rem;
         color: aqua;
      }
      .page1 p:nth-of-type(3){
        font-size: .5rem;
        position: absolute;
        left:.4rem;
        bottom:3rem;
        color: aqua;
      }
      .page1 p:nth-of-type(4){
        font-size: .5rem;
        position: absolute;
        left: .4rem;
       bottom: 1.5rem;
         color: aqua;}
         .page2{ 
          background: url(image/8.jpg);
        }
         .page2 img{
        position:absolute;
    }
    .page2 img:nth-of-type(1){
        width: 6.4rem;
        height: 7.3rem;
        left: .4rem;
        top: .4rem;
        position: absolute;
    }
    .page2 p:nth-of-type(1){
        font-size: .5rem;
        position: absolute;
        left: .4rem;
        top: 7.6rem;
        color: aqua;
    }
    .page3{ 
      background: url(image/8.jpg);
    }
    
    .page3 img{
        position:absolute;
    }
    .page3 img:nth-of-type(1){
        width: 6.4rem;
        height: 7.3rem;
        left: .4rem;
        top: .4rem;
        position: absolute;
    }
    .page3 p:nth-of-type(1){
        font-size:.5rem;
        position: absolute;
        color: aqua;
        top: 7.6rem;
        left: .4rem;
    }
    .page4{ 
      background: url(image/8.jpg);
    }
    .page4 img{
        position:absolute;
    }
    .page4 img:nth-of-type(1){
        width: 6.4rem;
        height: 7.3rem;
        left: .4rem;
        top: 7.3rem;
        position: absolute;
    }
    .page4 p:nth-of-type(1){
        font-size: .5rem;
        position: absolute;
        top: .4rem;
        left: .4rem;
        color: aqua;}
        .page5{ 
          background: url(image/8.jpg);
        }
     .page5 img{
            position:absolute;
        }
      .page5 img:nth-of-type(1){
            width: 6.4rem;
            height: 7.3rem;
            left: .4rem;
            top: .4rem;
            position: absolute;
        }
     .page5 p:nth-of-type(1){
            font-size: .5rem;
            position: absolute;
            left: .4rem;
          top: 7.8rem;
            color: aqua;}

     .page5 p:nth-of-type(2){
                font-size: .4rem;
                position: absolute;
                left: .4rem;
                bottom: 4rem;
                color: aqua;}
     .page5 p:nth-of-type(3){
                    font-size: .5rem;
                    position: absolute;
                    left: .4rem;
                    bottom:2.5rem ;
                  color: aqua;}
     .page5 p:nth-of-type(4){
             font-size: .5rem;
             position: absolute;
             left: .4rem;
           bottom: 1rem;
             color: aqua;}
            